<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Welcome Page</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

  <%- include("./_share/stylesheets.ejs") %>
</head>

<body>

  <%- include("./_share/navbar.ejs") %>
  <main role="main" class="container">

    <div class="border-bottom mt-5 mb-5">
      <h1>ようこそ express の世界へ</h1>
    </div>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
        mostly barebones HTML document.</p>

  </main>
  <%- include("./_share/javascripts.ejs") %>
</body>

</html>