<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>新規記事登録画面</title>

  <%- include("../../_share/stylesheets.ejs") %>
</head>

<body>

  <%- include("../../_share/navbar.ejs") %>
  <main role="main" class="container">

    <div class="border-bottom mt-5 mb-5">
      <h1>新規記事登録画面</h1>
    </div>

    <form method="POST" action="/account/posts/regist/confirm">
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">URL:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="url" name="url" />
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">タイトル:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="title" name="title" />
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">本文:</label>
        <div class="col-sm-10">
          <textarea class="form-control" type="text" id="content" name="content" rows="6"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">キーワード:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="keywords" name="keywords" />
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">著者:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="authors" name="authors" />
        </div>
      </div>
      <div class="form-group row">
        <div for="" class="col-sm-2"></div>
        <div class="col-sm-10">
          <input class="btn btn-primary" type="submit" value="確認" />
        </div>
      </div>
    </form>

  </main>
  <%- include("../../_share/javascripts.ejs") %>
</body>

</html>